
html
{
    --background--pos--x: right;
    --background--pos--y: top;
    --background--angle: 200deg;

    --background--radial--start: 10%;
    --background--radial--leap: 5%;
}

@media only screen and (max-width: 480px) 
{
    html
    {
        --background--radial--leap: 10%;
    }
}