
html
{
    --background--pos--x: 70%;
    --background--pos--y: 100%;
    --background--angle: 300deg;

    --background--radial--start: 10%;
    --background--radial--leap: 8%;

    --divider--offset: -7%;
}

.page_head > div
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    margin-top: 6rem;

    transition: 
        padding 0.1s ease;
}

.page_head > div:hover
{
    padding-top: 0.2em;
    padding-bottom: 0.8em;
}

.page_head > div:hover > input
{
    box-shadow: var(--drop--shadow);
}

.page_head > div:active
{
    padding-top: 0.4em;
    padding-bottom: 0.6em;
}

.page_head input
{
    margin: 0% !important;
}

h2
{
    padding: 0.5em;
}

.cours
{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.conseils
{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;

    margin: 2em 0;
    padding: 0;

    width: 100%;
}

.conseils > div
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: white;

    border-radius: var(--border--radius);

    box-shadow: var(--inset--shadow);

    margin-bottom: 0.5em;
    padding: 1em;

    min-width: 15%;

    aspect-ratio: 1;

    transition: 
        transform 0.1s ease,
        box-shadow 0.1s ease;
}

.conseil:hover
{
    box-shadow: var(--drop--shadow);

    transform: translateY(-5px);
}

.conseil:nth-child(2)
{
    animation-delay: 0.2s;
}

.conseil:nth-child(3)
{
    animation-delay: 0.4s;
}

.conseil:nth-child(4)
{
    animation-delay: 0.6s;
}

.conseil:nth-child(5)
{
    animation-delay: 0.8s;
}

.conseils p
{
    font-weight: 700;

    margin-top: 0.5em;
}

.guide, .more
{
    position: relative;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    margin-top: 2em;

    gap: 3%;

    width: 100%;
}

.guide_column, .more_column
{
    width: 13%;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    transition: 
        padding 0.1s ease;
}

.guide_column:hover, .more_column:hover
{
    padding-top: 0.2em;
    padding-bottom: 0.8em;
}

.guide_column:active, .more_column:active
{
    padding-top: 0.4em;
    padding-bottom: 0.6em;
}

.guide_column .btn, .more_column .btn
{
    margin: 0% !important;
}

.guide_column .btn:hover, .more_column .btn:hover
{
    box-shadow: var(--drop--shadow);

    transition:
        box-shadow 0.1s;
}

.admin_buttons
{
    position: absolute;

    top: 0%;
    right: 5%;
}

.parcours
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 4em 0;

    width: 100%;
}


@media only screen and (max-width: 480px) 
{
    html
    {
        --background--radial--leap: 10%;
    }

    .conseils
    {
        grid-template-columns: 1fr;
    }

    .conseils > div
    {
        min-width: 10em;
    }
    
    .conseil:nth-child(1)
    {
        animation-delay: 0.5s;
    }

    .conseil:nth-child(2)
    {
        animation-delay: 0.7s;
    }
    
    .conseil:nth-child(3)
    {
        animation-delay: 0.9s;
    }
    
    .conseil:nth-child(4)
    {
        animation-delay: 1.1s;
    }
    
    .conseil:nth-child(5)
    {
        animation-delay: 1.3s;
    }
}

