
html
{
    --background--pos--x: left;
    --background--pos--y: bottom;
    --background--angle: 100deg;

    --background--radial--start: 5%;
    --background--radial--leap: 6%;
}

body
{
    overflow-y: hidden;
}

.page_head > div
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    margin-top: 6rem;

    transition: 
        padding 0.1s ease;
}

.page_head > div:hover
{
    padding-top: 0.2em;
    padding-bottom: 0.8em;
}

.page_head > div:hover > input
{
    box-shadow: var(--drop--shadow);
}

.page_head > div:active
{
    padding-top: 0.4em;
    padding-bottom: 0.6em;
}

.page_head input
{
    margin: 0% !important;
}

@media only screen and (max-width: 480px) 
{
    html
    {
        --background--radial--leap: 10%;
    }
}

