<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Orientation ESN | Accueil</title>
        <link rel="stylesheet" href="../css/global_styles.css">
        <link rel="stylesheet" href="../css/accueil_styles.css">
    </head>

    <body>
        <%- include("navbar.ejs") %>

        <div id="background_gradient">
            <div id="background_img">
                <div class="page_head">
                    <h1>Notre Mission</h1> 
                    <h3>T'aider à bâtir un projet de vie et de carrière personnalisé</h3> 
                    
                    <input type="button" value="Nos Services" class="btn">
                </div>
            </div>
        </div>

        <div class="select_container">
            <input type="radio" name="services" id="orientation" style="display: none;" checked>

            <label for="orientation" class="no_select select orientation">
                <div>Services en Orientation</div>
            </label>

            <input type="radio" name="services" id="vie_carriere" style="display: none;">

            <label for="vie_carriere" class="no_select select vie_carriere">
                <div>Services en Vie-Carrière</div>
            </label>
        </div>

        <div id="orientation_info" class="info">
            <div class="orienters orienters_orientation"></div>
        </div>
        
        <div id="vie_carriere_info" class="info">
            <div class="orienters orienters_vie_carriere"></div>
        </div>
    </body>

    <script src="../js/global_script.js"></script>
    <script src="../js/accueil_script.js"></script>

</html>