<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orientation ESN | Accueil</title>
    <link rel="stylesheet" href="../css/global_styles.css">
    <link rel="stylesheet" href="../css/accueil_styles.css">
</head>

<body>
    <%- include("navbar.ejs") %>

    <h1>Accueil</h1> 
</body>

<script src="../js/accueil_script.js"></script>

</html>