<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orientation ESN | Bourses</title>
    <link rel="stylesheet" href="../css/bourses_styles.css">
  </head>

  <body>
    <%- include("navbar.ejs") %>

    <!--TODO: Fix background gradient moving up-->
    <div id="background_gradient">
      <div id="background_img">
        <div class="page_head">
          <h1>Bourses</h1> 
          <h3>Explore les options de bourses et d'aides financières pour ton avenir académique</h3> 

          <div class="scholarship_nav">
            <ul>
              <li>
                <input type="button" value="Septembre" onclick="scroll_to('#month_header_septembre', event, this)">
              </li>
              <li>
                  <input type="button" value="Octobre" onclick="scroll_to('#month_header_octobre', event)">
              </li>
              <li>
                  <input type="button" value="Novembre" onclick="scroll_to('#month_header_novembre', event)">
              </li>
              <li>
                  <input type="button" value="Décembre" onclick="scroll_to('#month_header_decembre', event)">
              </li>
              <li>
                  <input type="button" value="Janvier" onclick="scroll_to('#month_header_janvier', event)">
              </li>
              <li>
                  <input type="button" value="Février" onclick="scroll_to('#month_header_fevrier', event)">
              </li>
              <li>
                  <input type="button" value="Mars" onclick="scroll_to('#month_header_mars', event)">
              </li>
              <li>
                  <input type="button" value="Avril" onclick="scroll_to('#month_header_avril', event)">
              </li>
              <li>
                  <input type="button" value="Mai" onclick="scroll_to('#month_header_mai', event)">
              </li>
              <li>
                  <input type="button" value="Juin" onclick="scroll_to('#month_header_juin', event)">
              </li>
              <li>
                  <input type="button" value="Juillet" onclick="scroll_to('#month_header_juillet', event)">
              </li>
              <li>
                  <input type="button" value="Août" onclick="scroll_to('#month_header_aout', event)">
              </li>            
            </ul>      
          </div>
        </div>
      </div>
    </div>
    
    <div class="content">
      <img src="/img/divider.svg" class="no_select divider" draggable="false"></img>

      <div id="table"></div>
    </div>
  </body>

<script defer src="../js/global_script.js"></script>
<script defer src="../js/bourses_script.js"></script>

</html>