<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orientation ESN | Cours</title>
    <link rel="stylesheet" href="../css/cours_styles.css">
  </head>

  <body>
    <%- include("navbar.ejs") %>

    <div>
      <div id="background_gradient">
        <div id="background_img">
            <div class="page_head">
                <h1>Cours</h1> 
                <h3>Explore les options de cours pour un parcours personel</h3> 
                
                <input type="button" value="Explorer" class="btn" onclick="scroll_to('.content' , event)">
            </div>
        </div>
      </div> 
    </div>
    
    <div class="content">
      <img src="/img/divider.svg" class="no_select divider" draggable="false"></img>

      <div class="cours">
        <h2>Choisir tes cours</h2>

        <div class="conseils">
          <div class="conseil scroll_hide">
            <img src="/icons/interets.svg" class="no_select svg" draggable="false"></img>

            <p>Suis tes intérets</p>
          </div>
          
          <div class="conseil scroll_hide">
            <img src="/icons/futur.svg" class="no_select svg" draggable="false"></img>

            <p>Pense à l'avenir</p>
          </div>

          <div class="conseil scroll_hide">
            <img src="/icons/forces.svg" class="no_select svg" draggable="false"></img>

            <p>Analyse tes forces</p>
          </div>

          <div class="conseil scroll_hide">
            <img src="/icons/conseil.svg" class="no_select svg" draggable="false"></img>

            <p>Demande conseil</p>
          </div>

          <div class="conseil scroll_hide">
            <img src="/icons/choix.svg" class="no_select svg" draggable="false"></img>

            <p>Fais tes choix</p>
          </div>
        </div>

        <div class="guide">
          <div>
            <input type="button" class="btn" value="Guide de 9e année" onclick="window.open('https://16c1a101-b281-48e3-a16a-e623867e50bf.filesusr.com/ugd/053942_68c3b563d2bb4f1590ef725fecd96ea9.pdf', '_blank')">
          </div>
          <div>
            <input type="button" class="btn" value="Guide de 10e année" onclick="window.open('https://16c1a101-b281-48e3-a16a-e623867e50bf.filesusr.com/ugd/053942_3508bd9ff4d1448191f7bab50ff81052.pdf', '_blank')">
          </div>
          <div>
            <input type="button" class="btn" value="Guide de 11e année" onclick="window.open('https://16c1a101-b281-48e3-a16a-e623867e50bf.filesusr.com/ugd/053942_fdc19555cc53409a8e31102d25b473b6.pdf', '_blank')">
          </div>
          <div>
            <input type="button" class="btn" value="Guide de 12e année" onclick="window.open('https://16c1a101-b281-48e3-a16a-e623867e50bf.filesusr.com/ugd/053942_fdc19555cc53409a8e31102d25b473b6.pdf', '_blank')">
          </div>          
          <div>
            <input type="button" class="btn" value="Régime pédagogique" onclick="window.open('https://16c1a101-b281-48e3-a16a-e623867e50bf.filesusr.com/ugd/053942_809418dfa49a4d75b0c5b562ffac690d.pdf', '_blank')">
          </div>          
      </div>

      <div class="parcours">
        <h2>Choisir ton parcours</h2>

        <div class="slideshow scroll_hide">  
          <div class="slide fade">        
            <iframe
              src="https://www.youtube.com/embed/3o9TXKW6utQ" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>        
          </div>

          <div class="slide fade">        
            <iframe
              src="https://www.youtube.com/embed/bRdQ1T7oSuc" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>    
          </div>        

          <div class="slide fade">        
            <iframe
              src="https://www.youtube.com/embed/XwiZWlk06zI" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
              allowfullscreen>
            </iframe>    
          </div>         

          <!--Next and previous buttons-->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>

        <div class="more">
          <div>
            <input type="button" class="btn" value="Questionnaire" onclick="window.open('http://parcoursmath.nbed.nb.ca/', '_blank')">
          </div>
          <div>
            <input type="button" class="btn" value="&nbsp;Plus d'info&nbsp;" onclick="window.open('https://16c1a101-b281-48e3-a16a-e623867e50bf.filesusr.com/ugd/053942_c31bc6554c994f598df5e2a2c0ebf97e.pptx?dn=Parcours_en_math%C3%A9matiques_au_secondaire_-_Autod%C3%A9filante_pour_parents_format_standard_(2017).pptx', '_blank')">
          </div>
        </div>
      </div>
    </div>
  </body>

  <script defer src="../js/global_script.js"></script>
  <script defer src="../js/cours_script.js"></script>
  
</html>