<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/global_styles.css">
    <link rel="stylesheet" href="../css/error_styles.css">
  </head>

  <body>
    <%- include("navbar.ejs") %>
    <h1>404 Not Found</h1>    
  </body>

  <script src="../js/global_script.js"></script>

</html>