<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orientation ESN | Expériences</title>
    <link rel="stylesheet" href="../css/experiences_styles.css">
  </head>

  <body>
    <%- include("navbar.ejs") %>

    <div id="background_gradient">
      <div id="background_img">
          <div class="page_head">
              <h1>Expériences</h1> 
              <h3>Vivre des expériences pour te diriger dans ton parcours</h3> 
              
              <div>
                <input type="button" value="Explorer" class="btn" onclick="scroll_to('.content' , event)">
              </div>
          </div>
      </div>
    </div> 
    
    <div class="content">
      <img src="/img/divider.svg" class="no_select divider" draggable="false"></img>

      <div class="experiences">
        <h2>Vie-Carrière</h2>

        <div class="slideshow scroll_hide">
          <div class="slide fade" style="background-image: url('/img/handshake.jpg')">
            <div>
              <h3>Nos jeunes au travail</h3>
              <p>
                Le programme Invitons nos jeunes au travail permet aux élèves de 9ᵉ année de découvrir le monde du travail en accompagnant un adulte à son lieu de travail. Chaque année en novembre, cette activité permet de mieux comprendre la réalité professionnelle et le rôle du travail dans la vie quotidienne.
              </p>
            </div>
          </div>
          <div class="slide fade" style="background-image: url('/img/office.jpg')">
            <div>
              <h3>Journées carrière et stages</h3>
              <p>
                Les journées carrière et les stages offrent une exploration des métiers avant de s’engager dans des études. Ils permettent de découvrir la réalité quotidienne des professions, souvent différente des attentes initiales.
              </p>
            </div>
          </div>
          <div class="slide fade" style="background-image: url('/img/woodworking.webp')">
            <div>
              <h3>Éducation COOP</h3>
              <p>
                En 12ᵉ année, l’Éducation coopérative inclut un stage d’un semestre dans un milieu de travail choisi, avec trois semaines de théorie sur des sujets comme le CV et le marché du travail.
              </p>
            </div>
          </div>
          <div class="slide fade" style="background-image: url('/img/interview.avif')">
            <div>
              <h3>Entrevue d'information</h3>
              <p>
                L'entrevue d'information permet de poser des questions à un professionnel pour en apprendre davantage sur une profession ou un domaine. C’est un moyen d’élargir son réseau et d’obtenir des informations pertinentes.
              </p>
            </div>
          </div>
          <div class="slide fade" style="background-image: url('/img/volunteer.avif')">
            <div>
              <h3>Bénévolat</h3>
              <p>
                Le bénévolat permet d’acquérir de l’expérience et de développer des compétences tout en contribuant à sa communauté. Cela aide à élargir son réseau et à explorer des intérêts professionnels.
              </p>
            </div>
          </div>
          <!--
          <div class="slide fade" style="background-image: url('/img/career_fair.jpg')">
            <div>
              <h3>Salon carrière</h3>
              <p>
                Le salon carrière est un événement regroupant des ressources sur les carrières. Il offre une exposition aux possibilités d’études et d’emploi, ainsi qu’une occasion de rencontrer des personnes-ressources.
              </p>
            </div>
          </div>
          <div class="slide fade" style="background-image: url('/img/student_for_a_day.jpg')">
            <div>
              <h3>Étudiant d'un jour</h3>
              <p>
                Le programme Étudiant d'un jour permet de découvrir la vie d’un.e étudiant.e en visitant un établissement postsecondaire, afin de mieux comprendre l’environnement et les cours avant d’accepter une offre d’admission.
              </p>
            </div>
          </div>
          <div class="slide fade" style="background-image: url('/img/open_house.jpg')">
            <div>
              <h3>Journées portes ouvertes</h3>
              <p>
                Ces journées permettent de visiter les campus d'un établissement postsecondaire et d’obtenir des informations sur les programmes d’études, les logements, et d’autres ressources importantes.
              </p>
            </div>
          </div>
          <div class="slide fade" style="background-image: url('/img/summer_job.jpg')">
            <div>
              <h3>Emploi</h3>
              <p>
                Occupé un emploi d’été ou à temps partiel permet d’acquérir des compétences et de découvrir ses préférences en matière de conditions de travail tout en gagnant de l’argent.
              </p>
            </div>
          </div>
          <div class="slide fade" style="background-image: url('/img/camp.jpg')">
            <div>
              <h3>Programmes et camps thématiques</h3>
              <p>
                Des programmes et camps thématiques tels que PAJNB, Nouvelles Bottes, Shad, et FOCUS Innovation aident à concrétiser un projet de vie et de carrière en offrant des expériences uniques.
              </p>
            </div>
          </div>
          <div class="slide fade" style="background-image: url('/img/student_council.jpg')">
            <div>
              <h3>Vie scolaire</h3>
              <p>
                Participer au conseil des élèves et aux comités scolaires permet de développer des compétences en leadership, communication, et gestion du temps tout en créant des liens et en participant à des activités amusantes.
              </p>
            </div>
          </div>
          -->
          
          <!--Next and previous buttons-->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
          <!--
          <span class="dot" onclick="currentSlide(6)"></span>
          <span class="dot" onclick="currentSlide(7)"></span>
          <span class="dot" onclick="currentSlide(8)"></span>
          <span class="dot" onclick="currentSlide(9)"></span>
          <span class="dot" onclick="currentSlide(10)"></span>
          <span class="dot" onclick="currentSlide(11)"></span>         
          -->
        </div>
      </div>

      <div class="more">
        <div>
          <input type="button" class="btn" value="Préparation" onclick="window.open('#')">
        </div>
        <div>
          <input type="button" class="btn" value="Ressources" onclick="window.location.href='/resources'">
        </div>
      </div>

      <div class="salon_emploi exposition">
        
        <input type="checkbox" id="salon_emploi_expand" style="display: none;">

        <label for="salon_emploi_expand" class="btn">        
          <p>Exposants</p>
          
          <img src="/icons/arrow_down.svg" class="nav_icon no_select svg" draggable="false"></img>
        </label>

        <div class="list">
          <a href="https://legumesadaniel.com/" target="_blank">Les légumes à Daniel</a>
          <a href="https://www.st-hubert.com/fr/carrieres.html" target="_blank">St-Hubert</a>
          <a href="https://forces.ca/fr/carrieres" target="_blank">Forces armées canadiennes</a>
          <a href="https://www.st-isidoreasphalte.ca/" target="_blank">Saint-Isidore Asphalte Ltée</a>
          <a href="https://interfor.com/fr/location/bathurst/" target="_blank">Interfor</a>
          <a href="https://www.rcmp-grc.gc.ca/fr" target="_blank">Gendarmerie royale du Canada (GRC)</a>
          <a href="https://www.bathurst.ca/fr/services/1/force-policiere-de-bathurst" target="_blank">Force policière de Bathurst</a>
          <a href="#" target="_blank">Unicare Home Health Care Inc</a>
          <a href="https://www.vitalitenb.ca/" target="_blank">Vitalité</a>
          <a href="https://www.dsfne.ca/" target="_blank">District scolaire francophone Nord-Est</a>
          <a href="https://www.canada.ca/fr/services/emplois/opportunites/gouvernement.html" target="_blank">Service Canada</a>
          <a href="https://ckle.fm/" target="_blank">Radio de la Baie Ltée</a>
          <a href="https://travailnb.ca/" target="_blank">Travail NB</a>
          <a href="/">Services vie-carrière ESN</a>
        </div>
        
        
        <div class="description">
          <h2>Ces quoi?</h2>
          
          <p>Le salon de l'emploi permet aux élèves de la 9e à la 12e année de découvrir des entreprises locales, d'explorer des opportunités d'emploi, de réseauter et de potentiellement décrocher un emploi. Il est organisé grâce à la collaboration de plusieurs acteurs scolaires.</p>
        </div>

        <h2>Salon de l'emploi</h2>
      </div>

      <div class="orient_action exposition"> 
        
        <input type="checkbox" id="orient_action_expand" style="display: none;">

        <label for="orient_action_expand" class="btn">        
          <p>Exposants</p>
          
          <img src="/icons/arrow_down.svg" class="nav_icon no_select svg" draggable="false"></img>
        </label>

        <div class="list">
          <a href="https://ccnb.ca/schools/ecole-des-tic-technologies-et-du-transport/" target="_blank">CCNB - TIC, Technologies & Transports</a>
          <a href="https://ccnb.ca/schools/ecole-des-peches-et-des-ressources-naturelles/" target="_blank">CCNB - Ressources naturelles</a>
          <a href="https://ccnb.ca/cnfs/#:~:text=Le%20Consortium%20national%20de%20formation%20en%20sant%C3%A9%20(CNFS)%20regroupe%2016" target="_blank">CCNB - CNFS</a>
          <a href="https://ccnb.ca/schools/ecole-des-sciences-de-la-sante/" target="_blank">CCNB - Sciences de la santé</a>
          <a href="https://www.collegedelile.ca/#:~:text=Choisir%20le%20Coll%C3%A8ge%20de%20l%E2%80%99%C3%8Ele,%20c%E2%80%99est%20choisir%20des%20programmes%20de" target="_blank">Collège de l'Île</a>
          <a href="https://www.mcft.ca/fr/home-fr/#:~:text=CTFM.%20Choisir%20le%20bon%20coll%C3%A8ge%20et%20le%20meilleur%20programme%20pour" target="_blank">CTFM</a>
          <a href="https://nbcc.ca/" target="_blank">NBCC</a>
          <a href="https://mckenzie.edu/#:~:text=McKenzie%20College%20offers%20students%20a%20high-quality%20education%20in%20a%20vibrant" target="_blank">Collège McKenzie</a>
          <a href="https://www.umoncton.ca/shippagan" target="_blank">UdeM - Campus Shippagan</a>
          <a href="https://www.umoncton.ca/edmundston" target="_blank">UdeM - Campus Edmundston</a>
          <a href="https://www.umoncton.ca/umcm-fsssc-scienceinfirmiere/#:~:text=Le%208%20mai%20dernier,%20nous%20avons%20c%C3%A9l%C3%A9br%C3%A9%20avec%20fiert%C3%A9%20et" target="_blank">UdeM - Sciences infirmières (Bathurst)</a>
          <a href="https://carrieresante.ca/etudiants#:~:text=Le%20Consortium%20national%20de%20formation%20en%20sant%C3%A9%20(CNFS)%20%E2%80%93%20Volet" target="_blank">UdeM - CNFS</a>
          <a href="https://www.usainteanne.ca/#:~:text=L'Universit%C3%A9%20Sainte-Anne%20reconnait%20que%20ses%20cinq%20campus%20sont%20situ%C3%A9s%20en" target="_blank">Université Sainte-Anne</a>
          <a href="https://www.stu.ca/" target="_blank">St. Thomas University</a>
          <a href="https://mta.ca/" target="_blank">Mount Allison University</a>
          <a href="https://www.ubishops.ca/fr/#:~:text=Bishop%E2%80%99s%20est%20une%20universit%C3%A9%20principalement%20r%C3%A9sidentielle%20fortement%20ax%C3%A9e%20sur%20les" target="_blank">Université Bishop’s</a>
          <a href="https://forces.ca/fr/carrieres#:~:text=Lancez%20une%20recherche%20pour%20voir%20les%20possibilit%C3%A9s%20d%E2%80%99emploi%20dans%20les" target="_blank">Forces armées canadiennes</a>
          <a href="https://www.canada.ca/fr/armee/organisation/reserve.html" target="_blank">Réserve de l'armée canadienne</a>
          <a href="https://www.bathurst.ca/fr/services/1/force-policiere-de-bathurst#:~:text=Force%20polici%C3%A8re%20de%20Bathurst.%20Votre%20s%C3%A9curit%C3%A9%20nous%20tient%20%C3%A0%20c%C5%93ur." target="_blank">Force policière de Bathurst</a>
          <a href="https://www.rcmp-grc.gc.ca/fr/la-formation-des-cadets" target="_blank">GRC</a>
          <a href="https://www.canada.ca/fr/service-correctionnel/services/scc-vous/travailler-scc.html" target="_blank">Services correctionnels du Canada</a>
          <a href="https://www.bathurst.ca/fr/services/service-de-protection-incendie-de-bathurst/11/une-carriere-avec-le-service-d-incendie-de-bathurst" target="_blank">Incendie Bathurst</a>
          <a href="https://ambulancenb.ca/fr/" target="_blank">Ambulance NB</a>
          <a href="https://www.medaviehealthed.com/fr/medavie-edusante/" target="_blank">Médavie Édu Santé</a>
          <a href="https://www.vitalitenb.ca/fr/emplois" target="_blank">Réseau de santé Vitalité</a>
          <a href="https://interfor.com/fr/carrieres/opportunites-demploi/" target="_blank">Interfor</a>
          <a href="https://www.st-isidoreasphalte.ca/" target="_blank">St-Isidore Asphalte Ltée</a>
          <a href="https://travailnb.ca/" target="_blank">Travail NB</a>
          <a href="https://www.cbdc.ca/fr/programmes/chaleur-ma-region-mon-futur" target="_blank">CBDC Chaleur</a>
          <a href="/">Services vie-carrière ESN</a>
        </div>
               

        <div class="description">
          <h2>Ces quoi?</h2>
          
          <p>La Journée Orient'Action ESN est un salon carrière visant à élargir les options de formation et de carrière des élèves de la 9e à la 12e année. Plus de 40 exposants y participent, incluant des établissements postsecondaires, des employeurs et des services d’aide à l’emploi.</p>
        </div>

        <h2>Orient'Action</h2>
      </div>
    </div>
  </body>

  <script defer src="../js/global_script.js"></script>
  <script defer src="../js/experiences_script.js"></script>

</html>