<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orientation ESN</title>
    <link rel="stylesheet" href="../css/global_styles.css">
    <link rel="stylesheet" href="../css/navbar_styles.css">

    <link rel="icon" href="/icons/logo.svg" type="image/x-icon">
  </head>

  <body>
    <nav class="navbar">
      <div class="nav_left">
        <div class="nav_menu">   
          <div>
            <img src="/icons/menu.svg" class="nav_icon no_select" draggable="false"></img>
          </div>
            
          <aside class="nav_sidebar">
            <div>
              <img src="/icons/menu.svg" class="nav_icon no_select" draggable="false"></img>
            </div>

            <ul>
              <li onclick="location.href='../'">
                <p>Accueil</p>
              </li>
              <li onclick="location.href='../experiences'">
                <p>Expériences</p>
              </li>
              <li onclick="location.href='../cours'">
                <p>Cours</p>
              </li>
              <li onclick="location.href='../bourses'">
                <p>Bourses</p>
              </li>
              <li onclick="location.href='../resources'">
                <p>Resources</p>
              </li>
              <li onclick="location.href='../blogues'">
                <p>Blogues</p>
              </li>
            </ul>
          </aside>
        </div>
      </div>

      <div class="nav_middle">
          <h4 class="nav_text">Services Vie-Carrière ESN</h4>
      </div>

      <div class="nav_right">
        <div class="nav_icon_background nav_logout" onclick="logout()">
          <img src="/icons/account.svg" class="nav_icon no_select" draggable="false"></img>
        </div>

        <div class="popup">
          <h3>Name</3>

          <h5>Logout</h5>
        </div>

        <div class="nav_icon_background nav_login" onclick="popup('.login_popup', '')">
          <h6>Connexion</h6>
        </div>

        <div class="nav_icon_background">
          <img src="/icons/logo.svg" class="nav_icon no_select" draggable="false"></img>
        </div>
      </div>
    </nav>  

    <input type="button" id="close_btn" style="display: none;" onclick="close_popup()">
  
    <div class="error_popup popup">
      <label for="close_btn" class="close_btn no_select icon">
        <img src="/icons/close.svg">
      </label>

      <h4>Error</h4>

      <p>Error:</p>
    </div>

    <div class="login_popup popup">
      <label for="close_btn" class="close_btn no_select icon">
        <img src="/icons/close.svg">
      </label>

      <h4>Connexion</h4>

      <form onsubmit="return login(event, this.parentNode)">
        <div class="alert_msg"></div>

        <input type="email" placeholder="E-mail" required autocomplete="off" oninvalid="let popup_alert = this.parentNode.querySelector('.alert_msg'); popup_alert.textContent = 'E-mail Invalide'; popup_alert.style.visibility = 'visible';">
        <input type="password" placeholder="Mot de Passe" required autocomplete="off" minlength="4" oninvalid="let popup_alert = this.parentNode.querySelector('.alert_msg'); popup_alert.textContent = 'Mot de Passe Trop Court'; popup_alert.style.visibility = 'visible';">

        <input type="submit" value="Se Connecter" class="btn">
      </form>

      <input type="button" value="Créer un Compte" class="switch_popup_btn" onclick="close_popup(); popup('.signup_popup', '')">
    </div>

    <div class="signup_popup popup">
      <label for="close_btn" class="close_btn no_select icon">
        <img src="/icons/close.svg">
      </label>

      <h4>Inscription</h4>

      <form onsubmit="return signup(event, this.parentNode)">
        <div class="alert_msg"></div>

        <input type="text" id="first_name_input" placeholder="Prénom" required autocomplete="off">
        <input type="text" id="last_name_input" placeholder="Nom" required autocomplete="off">
        <input type="email" placeholder="E-mail" required autocomplete="off" oninvalid="let popup_alert = this.parentNode.querySelector('.alert_msg'); popup_alert.textContent = 'E-mail Invalide'; popup_alert.style.visibility = 'visible';">
        <input type="password" placeholder="Mot de Passe" required autocomplete="off" minlength="4" oninvalid="let popup_alert = this.parentNode.querySelector('.alert_msg'); popup_alert.textContent = 'Mot de Passe Trop Court'; popup_alert.style.visibility = 'visible';">

        <input type="submit" value="Créer un Compte" class="btn">
      </form>

      <input type="button" value="Se Connecter" class="switch_popup_btn" onclick="close_popup(); popup('.login_popup', '')">
    </div>
  </body>
  
</html>