<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orientation ESN</title>
    <link rel="stylesheet" href="../css/global_styles.css">
    <link rel="stylesheet" href="../css/navbar_styles.css">

    <link rel="icon" href="/icons/logo.svg" type="image/x-icon">
  </head>

  <body>
    <nav class="navbar">
      <div class="nav_left">
        <div class="nav_menu">   
          <div>
            <img src="/icons/menu.svg" class="nav_icon" draggable="false"></img>
          </div>
            
          <aside class="nav_sidebar">
            <div>
              <img src="/icons/menu.svg" class="nav_icon" draggable="false"></img>
            </div>

            <ul>
              <li>
                <a href="../">Accueil</a>
              </li>
              <li>
                <a href="../experiences">Expériences</a>
              </li>
              <li>
                <a href="../cours">Cours</a>
              </li>
              <li>
                <a href="../bourses">Bourses</a>
              </li>
              <li>
                <a href="../resources">Resources</a>
              </li>
              <li>
                <a href="../blogues">Blogues</a>
              </li>
            </ul>
          </aside>
        </div>
      </div>

      <div class="nav_middle">
          <h4 class="nav_text">Services Vie-Carrière ESN</h4>
      </div>

      <div class="nav_right">
        <div class="nav_icon_background">
          <img src="/icons/account.svg" class="nav_icon" draggable="false"></img>
        </div>
        <div class="nav_icon_background">
          <img src="/icons/logo.svg" class="nav_icon" draggable="false"></img>
        </div>
      </div>
  </nav>  
  
  <div class="error_popup">
    <div>Error</div>

    <p></p>

    <input type="button" value="Close" onclick="error_popup('', true)">
  </div>
</body>

</html>