<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orientation ESN</title>
    <link rel="stylesheet" href="../css/global_styles.css">
    <link rel="stylesheet" href="../css/navbar_styles.css">

    <link rel="icon" href="/icons/logo.svg" type="image/x-icon">
  </head>

  <body>
    <nav class="navbar">
      <div class="nav_left">
        <div class="nav_menu">   
          <div>
            <img src="/icons/menu.svg" class="nav_icon" draggable="false"></img>
          </div>
            
          <aside class="nav_sidebar">
            <div>
              <img src="/icons/menu.svg" class="nav_icon" draggable="false"></img>
            </div>

            <ul>
              <li>
                <a href="../">Accueil</a>
              </li>
              <li>
                <a href="../experiences">Expériences</a>
              </li>
              <li>
                <a href="../cours">Cours</a>
              </li>
              <li>
                <a href="../bourses">Bourses</a>
              </li>
              <li>
                <a href="../resources">Resources</a>
              </li>
              <li>
                <a href="../blogues">Blogues</a>
              </li>
            </ul>
          </aside>
        </div>
      </div>

      <div class="nav_middle">
          <h4 class="nav_text">Services Vie-Carrière ESN</h4>
      </div>

      <div class="nav_right">
        <div class="nav_icon_background nav_logout" style="display: none;">
          <img src="/icons/account.svg" class="nav_icon" draggable="false"></img>
        </div>

        <div class="nav_icon_background nav_login" onclick="popup('.login_popup', '')">
          <h6>Connexion</h6>
        </div>

        <div class="nav_icon_background">
          <img src="/icons/logo.svg" class="nav_icon" draggable="false"></img>
        </div>
      </div>
    </nav>  

    <input type="button" id="close_btn" style="display: none;" onclick="close_popup()">
  
    <div class="error_popup popup">
      <label for="close_btn" class="close_btn">
        <img src="/icons/close.svg">
      </label>

      <h4>Error</h4>

      <p>Error:</p>
    </div>

    <div class="login_popup popup">
      <label for="close_btn" class="close_btn">
        <img src="/icons/close.svg">
      </label>

      <h4>Connexion</h4>

      <form onsubmit="login()">
        <input type="text" placeholder="Couriel">
        <input type="password" placeholder="Mot de Passe">

        <input type="submit" value="Se Connecter" class="btn">
      </form>

      <input type="button" value="Créer un Compte" class="switch_popup_btn" onclick="close_popup(); popup('.signup_popup', '')">
    </div>

    <div class="signup_popup popup">
      <label for="close_btn" class="close_btn">
        <img src="/icons/close.svg">
      </label>

      <h4>Inscription</h4>

      <form onsubmit="signup()">
        <input type="text" placeholder="Nom d'Utilisateur">
        <input type="text" placeholder="Couriel">
        <input type="password" placeholder="Mot de Passe">

        <input type="submit" value="Créer un Compte" class="btn">
      </form>

      <input type="button" value="Se Connecter" class="switch_popup_btn" onclick="close_popup(); popup('.login_popup', '')">
    </div>
  </body>
  
</html>