<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/rencontre_styles.css">
  </head>

  <body>
    <%- include("navbar.ejs") %> 

    <div id="background_gradient">
      <div id="background_img">

        <form id="meeting_form">
          <h3>Questionnaire de Rencontre</h3>

          <!--Q1-->
          <p>Quel est ton nom ?</p>
          <input type="text" placeholder="Entrez votre réponse" required>

          <!--Q2-->
          <p>Quel est ton courriel d'école ?</p>
          <input type="email" placeholder="Entrez votre réponse" required>

          <!--Q3-->
          <p>Quel est ton niveau scolaire ?</p>
          <div>
            <input type="radio" name="niveau" id="9" value="9" required>
            <label for="9">9</label>            
          </div>

          <div>
            <input type="radio" name="niveau" id="10" value="10" required>
            <label for="10">10</label>            
          </div>

          <div>
            <input type="radio" name="niveau" id="11" value="11" required>
            <label for="11">11</label>            
          </div>

          <div>
            <input type="radio" name="niveau" id="12" value="12" required>
            <label for="12">12</label>            
          </div>

          <div>
            <input type="radio" name="niveau" id="PCR" value="PCR" required>
            <label for="PCR">PCR</label>            
          </div>

          <div>
            <input type="radio" name="niveau" id="PCRMT" value="PCRMT" required>
            <label for="PCRMT">PCRMT</label>            
          </div>

          <!--Q4-->
          <p>Coche les périodes qui te sont préférables pour la rencontre</p>
          <div>
            <input type="checkbox" name="periode" id="A" value="A" required>
            <label for="A">A</label> 
          </div>

          <div>
            <input type="checkbox" name="periode" id="B" value="B" required>
            <label for="B">B</label>            
          </div>

          <div>
            <input type="checkbox" name="periode" id="C" value="C" required>
            <label for="C">C</label>            
          </div>

          <div>
            <input type="checkbox" name="periode" id="D" value="D" required>
            <label for="D">D</label>            
          </div>

          <div>
            <input type="checkbox" name="periode" id="E" value="E" required>
            <label for="E">E</label>            
          </div>

          <!--Q5-->
          <p>As-tu déjà eu une rencontre en orientation ?</p>
          <div>
            <input type="radio" name="rencontre" id="oui" value="oui" onchange="follow_up(this, 'orienter')" required>
            <label for="oui">Oui</label>            
          </div>

          <div>
            <input type="radio" name="rencontre" id="non" value="non" required>
            <label for="non">Non</label>            
          </div>

          <!--Q6-->
          <div id="orienter">
            <p>Avec qui ?</p>
            <input type="text" placeholder="Entrez votre réponse">            
          </div>

          <!-- Q7 -->
          <p>Quel type de rencontre as-tu besoin ?</p>

          <div id="radio-group-type">

            <!-- Option 1 -->
            <div>
              <input type="radio" name="type" id="1" value="1" required>
              <label for="1">Questions ou inquiétudes liées aux études postsecondaires</label>

              <div class="sub-question" id="sub1">
                <label>Quels sont tes questions ou inquiétudes?</label>
                <textarea name="sub1_response"></textarea>
              </div>
            </div>

            <!-- Option 2 -->
            <div>
              <input type="radio" name="type" id="2" value="2">
              <label for="2">Demande d'admission universitaire ou collégiale</label>

              <div class="sub-question" id="sub2">
                <label>Pour quel établissement post-secondaire aimerais-tu compléter une demande d'admission?</label>
                <textarea name="sub2_response"></textarea>
              </div>
            </div>

            <!-- Option 3 -->
            <div>
              <input type="radio" name="type" id="3" value="3">
              <label for="3">Aide au bourses</label>
              <!-- No sub-question -->
            </div>

            <!-- Option 4 -->
            <div>
              <input type="radio" name="type" id="4" value="4">
              <label for="4">Sélection de cours</label>
              <!-- No sub-question -->
            </div>

            <!-- Option 5 -->
            <div>
              <input type="radio" name="type" id="5" value="5">
              <label for="5">Rencontre d'exploration vie-carrière</label>
              <div class="sub-question" id="sub5">
                <label>Quel est le motif ou but de la rencontre?</label>
                <textarea name="sub5_response"></textarea>
              </div>
            </div>

            <!-- Option 6 -->
            <div>
              <input type="radio" name="type" id="6" value="6">
              <label for="6">Autres</label>
              <div class="sub-question" id="sub6">
                <label>Quel type de rencontre recherches-tu?</label>
                <textarea name="sub6_response"></textarea>
              </div>
            </div>

          </div>

          <input type="submit" class="btn" value="Envoyer">
        </form>
      </div>
    </div>  
    
    
  </body>

  <script defer src="../js/global_script.js"></script>
  <script defer src="../js/rencontre_script.js"></script>

</html>