<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orientation ESN | Resources</title>
    <link rel="stylesheet" href="../css/resources_styles.css">
  </head>

  <body>
    <%- include("navbar.ejs") %>

    <div id="background_gradient">
      <div id="background_img">
          <div class="page_head">
              <h1>Resources</h1> 
              <h3>T'aider à bâtir un projet de vie et de carrière personnalisé</h3> 
              
              <input type="button" value="Nos Services" class="btn" onclick="scroll_to('.info' , event)">
          </div>
      </div>
    </div>     
  </body>

  <script defer src="../js/global_script.js"></script>
  <script defer src="../js/resources_script.js"></script>

</html>