<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Orientation ESN | Resources</title>
    <link rel="stylesheet" href="../css/global_styles.css">
    <link rel="stylesheet" href="../css/resources_styles.css">
  </head>

  <body>
    <%- include("navbar.ejs") %>
    <h1>Resources</h1>       
  </body>

  <script src="../js/global_script.js"></script>
  <script src="../js/resources_script.js"></script>

</html>