
html
{
    --background--pos--x: 30%;
    --background--pos--y: -5%;
    --background--angle: 30deg;

    --background--radial--start: 15%;
    --background--radial--leap: 10%;

    --divider--offset: 8%;
}

.page_head > div
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    margin-top: 6rem;

    transition: 
        padding 0.1s ease;
}

.page_head > div:hover
{
    padding-top: 0.2em;
    padding-bottom: 0.8em;
}

.page_head > div:hover > input
{
    box-shadow: var(--drop--shadow);
}

.page_head > div:active
{
    padding-top: 0.4em;
    padding-bottom: 0.6em;
}

.page_head input
{
    margin: 0% !important;
}

h2
{
    padding: 0.5em;
}

.experiences
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.exposition
{
    display: flex;
    flex-direction: column-reverse;

    justify-content: center;
    align-items: center;

    padding: 2em 0;
}

.description
{
    display: flex;
    flex-direction: row;

    align-items: center;
    
    width: 90%;
}

.exposition > div h2
{
    align-items: baseline;

    height: 100%;
    min-width: 8ch;

    padding: 0%;
    margin: 0%;
    margin-right: 1em;
}

#salon_emploi_expand + label, #orient_action_expand + label
{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 1em;

    cursor: pointer;
} 

#salon_emploi_expand + label > img, #orient_action_expand + label > img
{
    margin: 0%;

    transition: 
        rotate 0.1s ease;
} 

#salon_emploi_expand:checked ~ label > img, #orient_action_expand:checked ~ label > img
{
    rotate: 180deg;
} 

#salon_emploi_expand:checked ~ .list
{
    height: 300px;

    padding: 2em;

    opacity: 1;
}

#orient_action_expand:checked ~ .list
{
    height: 500px;

    padding: 2em;

    opacity: 1;
}

.list
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
    align-content: center;

    gap: 5%;

    height: 0px;
    width: 100%;

    padding: 0 2em;

    opacity: 0;

    transition: 
        height 0.5s ease-in-out,
        opacity 0.5s ease-in-out,
        padding 0.5s ease-in-out;

    overflow: hidden;
}

.list a
{
    color: var(--link--color);
}

/* Mobile users */
@media only screen and (max-width: 480px) 
{
    html
    {
        --background--radial--leap: 10%;
    }

    .slideshow
    {
        min-width: 75%;  
    }

    .slide div h3
    {
        font-size: 1.25em;
    }

    .slide div p
    {
        font-size: 0.75em;
    }
    
    .description > h2
    {
        display: none;
    }

    .description > p
    {
        text-align: center;
    }

    .list
    {
        grid-template-columns: 1fr 1fr;

        row-gap: 5%;
    }

    #salon_emploi_expand:checked ~ .list
    {
        height: 250px;
    }    
    
    #orient_action_expand:checked ~ .list
    {
        height: 400px;
    }    

    .list a
    {
        font-size: 0.75em;
    }
}